/* Banner of the details page */
.detailsBanner{
    width: 100%;
    height: 415px;
    border-radius: 25px;
    position: relative;
    align-items: center;
    justify-content: center;
    user-select: none;
}

/* Picture used for the banner */
.detailsBanner img.detailsPicture{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    min-height: 255px;
}

/* Block containing both arrow icons to navigate between pictures */
div.navPicturesArrows{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

/* Arrow icons */
.bannerArrow{
    cursor: pointer;
    --fa-animation-duration: 2s;
}

/* Number of pictures in the gallery and position of current picture */
.picturesCounter{
    color: var(--white-color);
    position: absolute;
    bottom: 25px;
    width: 100%;
    justify-content: center;
}

/* Tablet only */
@media screen and (min-width: 769px) and (max-width: 999px){
    .detailsBanner{
        height: 335px;
        border-radius: 20px;
    }

    .bannerArrow{
        font-size: 4em;
    }
}

/* Mobile only */
@media screen and (max-width: 768px){
    .detailsBanner{
        height: 255px;
        border-radius: 10px;
    }

    .bannerArrow{
        font-size: 2.5em;
    }

    .picturesCounter{
        font-size: 14px;
    }
}