/* Main section that contains error messages */
.mainError{
    margin: 120px 0px 100px 0px;
    justify-content: center;
    align-items: center;
}

/* Error text style */
.mainError p{
    font-size: 36px;
    color: var(--main-text-color);
    width: 80%;
    margin: auto;
    text-align: center;
}

/* Higher font size for the error number */
p.nbError{
    font-size: 288px;
    font-weight: 700;
}

/* Link redirecting to the index below the error message */
a.indexLink{
    color: var(--main-text-color);
    text-decoration: underline;
    margin-top: 140px;    
}

/* Tablet only */
@media screen and (min-width: 769px) and (max-width: 999px){
    .mainError p{
        font-size: 24px;
    }

    p.nbError{
        font-size: 192px;
    }
}

/* Mobile only */
@media screen and (max-width: 768px){
    .mainError p{
        font-size: 18px;
    }

    p.nbError{
        font-size: 96px;
    }
}