/* Global expandable block containing the title, the arrow icon and the content below */
.expandableBlock{
    margin: 0px;
    border-radius: 5px;
}

/* Header of the expandable block, containing the title and the arrow icon */
.expandableBlockHeader{
    height: 50px;
    background-color: var(--main-text-color);
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: var(--white-color);
    cursor: pointer;
    user-select: none;
    width: calc(100% - 40px);
    z-index: 1;
}

/* Full width block */
.expandableBlockFullWidth{
    width: 80%;
    font-size: 24px;
    line-height : 34.22px;
}

/* Half width block */
.expandableBlockHalfWidth{
    width: 45%;
    font-size: 18px;
    line-height : 25.67px;
}

/* Arrow icon of the expandable block*/
.expandableBlockHeader svg{
    height: 48px;
    width: 28px;    
    pointer-events: none;
}

/* Arrow icon of the expandable block*/
.expandableBlockHeader svg path{
    fill: var(--white-color);
}

/* Content of the expandable block, hidden on load and displayed on click */
.expandedContent{
    background-color: var(--light-grey-color);
    color: var(--main-text-color);
    padding: 20px;
    font-weight: 400;
    width: calc(100% - 40px);
    height: fit-content;
    position: relative;
    top: -5px;
    left: 0px;
    z-index: 0;
    border-radius: 5px;
}

/* Paragraph of the expandable block */
.expandedContent p{
    margin: 0;
}

/* Styling content list of the expandable block*/
.detailsList{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    row-gap: 5px;
}

/* Tablet only */
@media screen and (min-width: 769px) and (max-width: 999px){
    .expandableBlockFullWidth{
        width: 100%;
        font-size: 20px;
        line-height: 142.6%;
    }
}

/* Mobile only */
@media screen and (max-width: 768px){
    .expandableBlockFullWidth, .expandableBlockHalfWidth{
        width: 100%;
        font-size: 16px;
        line-height: 142.6%;
    }
}