/* Header containing Logo and Nav menu */
header{
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}

/* Nav menu in the header */
nav{
    color: var(--main-text-color);
    width: 20%;
    font-size: 24px;
    line-height: 142.6%;
    justify-content: space-between;
    align-items: center;
}

/* Menu links style */
a.navLink{
    color: var(--main-text-color);
    text-decoration: none;
}

/* Interaction style with menu links */
a.navLinkActive{
    color: var(--main-text-color);
    text-decoration: underline;
}