/* Logement Card */
.logementCard{
    width: 100%;
    height: 340px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

/* Logement Card link */
.logementCardLink{
    width: 30%;
}

/* Logement Card style when hovering */
.logementCard:hover{
    box-shadow: 0px 3px 10px -1px var(--black-color);
}

/* Logement Card image */
.logementCardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
}

/* Gradient effect block on the logement card */
.logementCardBground{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    color: var(--white-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

/* Logement Card title */
.logementCardTitle{
    position: absolute;
    bottom: 20px;
    left: 0px;
    padding: 0px 20px;
}
  
/* Low desktop only */
@media screen and (min-width: 1000px) and (max-width: 1300px){
    .logementCardLink{
        width: 47.5%;
    }
}

/* Tablet only */
@media screen and (min-width: 769px) and (max-width: 999px){
    .logementCardLink{
        width: 48%;
    }
}

/* Mobile only */
@media screen and (max-width: 768px){
    .logementCardLink{
        width: 100%;
    }

    .logementCard{
        height: 255px;
    }  
}